<table>
  <tr>
    <th>Test</th>
    <th>Question</th>
  </tr>
  <tr>
    <td><%= @test.title %></td>
    <td><%= @question.statement %></td>
  </tr>
  <tr>
    <td colspan="2"><%= link_to('back', test_questions_path(@test)) %></td>
  </tr>
</table>
