<table>
  <tr>
    <th>Test</th>
    <th>Question</th>
  </tr>
  <tr>
    <td><%= @question.test.title %></td>
    <td><%= @question.statement %></td>
  </tr>
  <tr>
    <th colspan="2">Answers</th>
  </tr>
  <%= render @question.answers %>
  <tr>
    <td colspan="2"><%= link_to('back', @question.test) %></td>
  </tr>
</table>
