<h1>Edit answer</h1>
<%= render partial: 'shared/errors', locals: { resource: @answer } %>
<p>Question: <%= @answer.question.statement %></p>
<%= render 'form' %>
<%= link_to('back', admin_question_path(@answer.question)) %>
