<h1>All tests</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Number of questions</th>
    <th colspan="3">Actions</th>
  </tr>
  <%= render @tests %>
  <tr><td colspan="5"><%= link_to('new test', :new_admin_test) %></td></tr>
  <tr><td colspan="5"><%= link_to('show gists', :admin_gists) %></td>
</table>
