<tr>
  <td><%= link_to(test.title, test) %></td>
  <td><%= test.questions.count %></td>

  <% if user_signed_in? %>
    <td><%= button_to('start passage', start_test_path(test), method: :get) %></td>
  <% end %>
</tr>
