<h1>All tests</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Number of questions</th>
  </tr>
  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to(test.title, test_questions_path(test)) %></td>
      <td><%= test.questions.count %></td>
    </tr>
  <% end %>
</table>
