<h1>All tests</h1>
<table>
  <tr>
    <th class="pointer js-sort-by-title">Title <%= octicon "arrow-up", class: 'hide' %>
                                               <%= octicon "arrow-down", class: 'hide' %></th>
    <th>Number of questions</th>
    <th>Actions</th>
  </tr>
  <%= render @tests %>
</table>
